.NutritionCard {
    width: 360px;
    height: 220px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 16px 32px;
    background-color: #03c5d1;
}
.NutritionCard .card-header {
    justify-content: flex-start;
}
.NutritionCard .card-header img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.NutritionCard .card-header, .NutritionCard .card-meta, .NutritionCard .card-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NutritionCard .card-header .title, .NutritionCard .card-meta small {
    color: white
}

.NutritionCard .card-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CardStat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CardStat p, .CardStat span {
    color: var(--pure-white);
    font-weight: 400;
}
.CardStat span {
    font-size: 40px;
}

.NutritionCard .card-header, .NutritionCard .card-meta, .NutritionCard .card-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NutritionCard .card-header .title, .NutritionCard .card-meta small {
    color: var(--pure-white);
}